#koukou {
  position: absolute;
  top: 40px;
  right: -300px;
  width: 180px;
  animation: koukouFly 10s ease-in-out forwards;
}

@keyframes koukouFly {
  0% {
    transform: translateX(300px) rotate(0deg);
    opacity: 0;
  }
  20% {
    transform: translateX(0) rotate(5deg);
    opacity: 1;
  }
  70% {
    transform: translateX(0) rotate(-5deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-500px) rotate(-20deg);
    opacity: 0;
  }
}
